<form {{action "createTodo" on="submit"}}>
  {{input value=title placeholder="Enter a to-do"}}
  <button type="submit">Create</button>
</form>

<br/>
<br/>

<ul>
  {{#each model as |todo|}}
  <li>
    <u>{{todo.id}}</u> <strong>{{todo.title}}</strong> <input type="checkbox" checked={{todo.isDone}} onclick={{action "toggleDone" todo}} />
    <br/> <a href {{action 'deleteTodo' todo}}>Delete</a>
    <br/>
    <br/>
  </li>
  {{/each}}
</ul>
