<form {{action "createTodo" on="submit"}}>
  {{input value=title placeholder="Enter a to-do"}}
  <button type="submit">Create</button>
</form>

<br/>
<br/>

<ul>
  {{#each model as |todo|}}
  <li>
    <u>{{todo.id}}</u> <strong>{{todo.title}}</strong>
    <br/> is done: {{todo.isDone}} &nbsp;&nbsp;&nbsp;&nbsp; <a href {{action 'deleteTodo' todo}}>Delete</a>
    <br/>
    <br/>
  </li>
  {{/each}}
</ul>
